

<div class="container">
<h2 class="text-center">Productos</h2>

  <% @products.each_slice(3) do |products|%>
    <div class="row">
      <% products.each do |product|%>
      <div class="col-4">
        <div class="card">
          <%= link_to description_path(product.id) do%><%=image_tag 'https://dummyimage.com/600x400/c7c7c7/737373&text=image', class:'card-img-top img-fluid'%>
          <%end%>
          <div class='card-body'>
            <div class="card-title">
              <%=product.name%>
            </div>
            <div class="card-text">
              <div class='badge bg-primary'>
                <%= product.categories.first.name %>
              </div>
              <div>
                <p><%= product.stock %> units left</p>
              </div>
              <div>
                <%= number_to_currency product.price%>
              </div>
              <div>
                <%= variations_for_select(product.id).first&.first%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  <%end%>
</div>


<%# DONE show only products with stock %>
<%# DONE add to cart product with its variations ? %>